<% provide(:container_append_class, [:white]) %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title / Message</th>
      <th scope="col">Published At</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  <% @informations.each.with_index(1) do |information, index| %>
    <tr>
      <%= content_tag :th, index, scope: 'row' %>
      <td>
        <%= content_tag :p, information.title %>
        <%= content_tag :p, information.message.truncate(50), class: "text-secondary" %>
      </td>
      <%= content_tag :td, information.published_at.to_s(:long) %>
      <%= content_tag :td do %>
        <% content_tag :div,
          information.published? ? 'Published' : 'Pending',
          class: information.published? ? %[alert alert-success] : %[alert alert-secondary],
          style: 'height: 50px;' %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>