<% provide(:container_append_class, [:white]) %>
<button type="button" class="btn btn-primary" style="width: 120px; margin-bottom: 50px;" data-modal="create">Add</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Capacity</th>
      <th scope="col">Priority</th>
      <th scope="col">User Num</th>
    </tr>
  </thead>
  <tbody>
  <% @rooms.each.with_index(1) do |room, index| %>
    <tr>
      <%= content_tag :th, index, scope: 'row' %>
      <%= content_tag :td, room.name %>
      <%= content_tag :td, room.capacity %>
      <%= content_tag :td, room.priority %>
      <%= content_tag :td, ChatChannel.connected_users_count(room) %>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-modal="create">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(Room.new, remote: true) do |f| %>
          <div class="form-group">
            <label for="inquiry_name">Name</label>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="error alert alert-danger" data-attribute="name"></div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="inquiry_name">Capacity</label>
              <%= f.text_field :capacity, class: "form-control" %>
            </div>
            <div class="col-md-6">
              <label for="inquiry_name">Priority</label>
              <%= f.text_field :priority, class: "form-control" %>
            </div>
          </div>
          <div class="error col-md-12 alert alert-danger" data-attribute="capacity"></div>
          <div class="error col-md-12 alert alert-danger" data-attribute="priority"></div>
        <% end %>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-submit=".modal[data-modal='create'] form">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>