<% provide(:container_append_class, [:white]) %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Capacity</th>
      <th scope="col">Priority</th>
      <th scope="col">User Num</th>
    </tr>
  </thead>
  <tbody>
  <% @rooms.each.with_index(1) do |room, index| %>
    <tr>
      <%= content_tag :th, index, scope: 'row' %>
      <%= content_tag :td, room.name %>
      <%= content_tag :td, room.capacity %>
      <%= content_tag :td, room.priority %>
      <%= content_tag :td, ChatChannel.connected_users_count(room) %>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(Room.new) do |f| %>
          <div class="form-group">
            <label for="inquiry_name">Name</label>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="row">
          <div class="form-group col-xs-6">
            <label for="inquiry_name">Capacity</label>
            <%= f.text_field :capacity, class: "form-control" %>
          </div>
          <div class="form-group col-xs-6">
            <label for="inquiry_name">Priority</label>
            <%= f.text_field :priority, class: "form-control" %>
          </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>