<% provide(:container_append_class, [:white]) %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Target</th>
      <th scope="col">Reason</th>
      <th scope="col">Message</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
  <% @reports.each.with_index(1) do |report, index| %>
    <tr>
      <%= content_tag :th, index, scope: 'row' %>
      <%= content_tag :td, report.target.nickname %>
      <%= content_tag :td, report.reason_i18n %>
      <%= content_tag :td, report.message&.truncate(50) %>
      <%= content_tag :td, report.created_at.to_s(:long) %>
    </tr>
  <% end %>
  </tbody>
</table>