<!DOCTYPE html>
<html>
  <head>
    <title>Capibara</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= content_tag :body, data: { controller: @controller_path || controller.controller_path, action: controller.action_name } do %>
    <%= content_tag :div, class: [:container], style: yield(:footer).present? ? 'margin-bottom: 80px;' : '' do %>
      <%= yield %>
    <% end -%>

    <% if yield(:footer).present? -%>
    <footer class="footer">
      <div class="container">
      <%= yield :footer %>
      </div>
    </footer>
    <% end -%>
  <% end %>
</html>
